
.flex{
    display: flex;
    justify-content: space-around;
}

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-center > div {
    width: 100%;
}